.table{
    --bs-table-color: none; 
    --bs-table-bg: none;
    --bs-table-hover-bg: lightgray;
}

.main-am{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.about-me-text p{
    line-height: 40px;
    padding: 0px 0px 0px 0px;
}
.about-me-text{
    align-self: center;
    text-align:justify;
    max-width: 700px;
    line-height: 40px;
}

.image{
    align-self: center;
    margin: 10px;
    border-style: solid;
    border-color: gray;
    padding: 10px;
    border-radius: 10px;
}

.image img {
    width: 280px;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
}
.col{
    border-style:solid;
    border-color: gray;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
   
}
.d-3{
    width: 320px;
    align-self:auto;
}

.d-4{
    width: 500px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    align-self: center;
}

.m{
    border-radius: 10px;
}

.flex {
    display: flex;
    align-items: center;
    gap: 40px;
}
.col li ul{
    list-style-type: none;
}
.title{
    text-align: center;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
}
.title-sm{
    text-align: center;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    font-size:medium;
}
.col3{
    display: flex;
}
.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    min-height: 100vh;
}
.gh-icon{
    transform: scale(1.30);
    margin-bottom: 5px;
}
.gh-link:hover .gh-icon{
    transform: scale(1.5);
} 
.col table {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0 8px; /* adds spacing between rows */
}

.col table tbody tr {
    border-radius: 8px;
    overflow: hidden;
}



/* -------- media query-------------- */
@media(max-width:480px){

    .m{
        width: 340px;
    }
    .image{
        display: none;
    }

    .col3{
        /* flex-direction: column; */
        gap: 20px;
        flex-wrap: wrap;
    }

    
    .flex {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }


    .main-am{
        margin: 50px 0;
        align-items: center;
        padding: 0 15px;
    }
    .w10{
        display: none;
    }
}
@media(max-width:820px){

  
    .image{
        display: none;
    }
}

@media (max-width:1306px) {
    .col3 {
        flex-direction: column;   
        align-items: center;      
        justify-content: center;
        gap: 20px;                
    }

    .d-3 {
        width: 100%;              
        max-width: 500px;   
    }

        .col3 .col {
        margin: 20px auto;      
        width: 100%;
        max-width: 500px;       
}
}