.table{
    --bs-table-color: none; 
    --bs-table-bg: none;
    --bs-table-hover-bg: lightgray;
}

.main-am{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 50px;
}

.about-me-text p{
    line-height: 40px;
    padding: 0px 0px 0px 0px;
    justify-items: start;
}

.image{
    align-self: center;
    margin: 10px;
    border-style: solid;
    border-color: gray;
    padding: 10px;
    border-radius: 10px;
}
.col{
    border-style:solid;
    border-color: gray;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
   
}
.d-3{
    width: 320px;
    align-self:auto;
}

.m{
    border-radius: 10px;
}

.flex {
    display: flex;
}
.col li ul{
    list-style-type: none;
}
.title{
    text-align: center;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
}
.title-sm{
    text-align: center;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    font-size:medium;
}
.col3{
    display: flex;
}
.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    min-height: 100vh;
}
.gh-icon{
    transform: scale(1.30);
    margin-bottom: 5px;
}
.gh-link:hover .gh-icon{
    transform: scale(1.5);
} 

/* -------- media query-------------- */
@media(max-width:480px){

    .m{
        width: 340px;
    }
    .image{
        display: none;
    }

    .col3{
        flex-direction: column;
    }

    .main-am{
        margin-left: 0px;
        margin-right: 0px;
        align-items: center;
    }
}