.slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slick-prev, .slick-next {
  z-index: 2;
  font-size: 40px;
  color: black !important;
  top: 50%;
  transform: translateY(-50%);
}

.slick-prev { left: -15px; }  
.slick-next { right: -15px; } 

.slick-prev:before, .slick-next:before {
  color: black !important;
  font-size: 30px;
  opacity: 1;
}

