.main{
    margin-top: 100px;
    min-height: 58vh;
    display: flex;
    flex-direction: column;
}
.text{
    margin-top: 100px;
    display: grid;
    justify-content: center;
    text-align: center;
    line-height: 40px;
    width: auto;
}
/* -------- media query---------- */
@media(max-width:60000px){
  
    .brh{
        display: none;
    }
}

@media(max-width:600px){
    .main{
        margin-top:30px
    }
}
@media(max-width:570px){
    .column_direction{
        display: flex;
        flex-direction: column;
    }
   
}
