.mobile-toggler-wrapper {
    padding: 8px 16px;
    background: black;
}

.bg-bl {
    background-color: black;
}

.lang-current {
  color: gray;
  font-weight: 500;
  padding: 4px 8px;
}

.lang-current:hover {
  opacity: 0.8;
  color: white;
}
.lang-selector {
  position: relative;
  cursor: pointer;
}

.lang-menu {
  position: absolute;
  top: 28px;
  right: 0;
  background: black;
  border: none;
  padding: 6px 0;
  min-width: 60px;
  z-index: 2000;
  display: block;
}

.lang-menu div {
  padding: 6px 12px;
  color: white;
}

.lang-menu div:hover {
  background: #111;
}

.settings-right {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}

/* Make toggler look like nav menu items */
.nav-item button {
    background: black !important;
    border: none !important;
    color: #908e8e !important;       /* gray icon */
    padding: 6px 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Icon color */
.nav-item button svg {
    fill: #908e8e !important;
    font-size: 20px;
    transition: 0.2s ease;
}

/* Hover → white */
.nav-item button:hover svg {
    fill: white !important;
}

/* Click active state */
.nav-item button:active svg {
    fill: white !important;
}

.shadow {
  border-bottom: 2px solid rgba(255,255,255,0.2);
}

